.App {
  width: 100%;
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
}

@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600;700&display=swap");

:root {
  /* Base font size */
  font-size: calc(10px + 2vmin);
  /* Heading height variable*/
  --heading-height: 15em;
  --font-size-md: clamp(1.25rem, 0.61vw + 1.1rem, 1.58rem);
  --font-size-lg: clamp(1.56rem, 1vw + 1.31rem, 2.11rem);
  --font-size-xl: clamp(2.44rem, 2.38vw + 1.85rem, 3.75rem);
  /* --border-radius: 10px; */
}

body {
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  /* background: url(https://img.freepik.com/free-photo/black-sand-beach-macro-photography-silky-black-beach-texture-with-shallow-depth-field-minimalistic-black-background-tenerife-voulcanic-sandy-shore_1217-1765.jpg?w=826&t=st=1676045910~exp=1676046510~hmac=d0272a76e570943a8d8034c5e2d83b4df7dee95648495093d6cebee66c7993e1)
    no-repeat center; */
  background-color: #e0dfdf;
  width: 100%;
  margin: 0;
}

/* body::before {
  /* background: url(https://img.freepik.com/free-photo/black-sand-beach-macro-photography-silky-black-beach-texture-with-shallow-depth-field-minimalistic-black-background-tenerife-voulcanic-sandy-shore_1217-1765.jpg?w=826&t=st=1676045910~exp=1676046510~hmac=d0272a76e570943a8d8034c5e2d83b4df7dee95648495093d6cebee66c7993e1) no-repeat center; */

.maintext {
  background-color: rgb(0, 0, 0);
}

.topicbar {
  margin-top: 50px;
}

.Articles {
  font-family: "Poppins", sans-serif;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 30px;
  color: #050505;
}

.SingleArticle {
  font-family: "Poppins", sans-serif;
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 30px;
  color: #050505;
}

.content-wrapper {
  display: flex;
  justify-content: center;
}

.votes {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

#topicList {
  width: 600px;
  margin-bottom: 20px;
}
#sorting {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}

#commentList {
  display: flex;
  align-items: center;
  flex-direction: column;
}

header {
  position: relative;
  width: 100%;
  height: var(--heading-height);
}

/*Change later*/
@media (max-width: 880px) {
  header {
    height: 15em;
  }
}

/* Create angled background with 'before' pseudo-element */
header::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 3.9em;
  width: 100%;
  height: calc(var(--heading-height) + 10em);
  z-index: -1;
  transform: skewY(-3.9deg);
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(https://images.unsplash.com/photo-1495464101292-552d0b52fe41?auto=format&fit=crop&w=1350&q=80)
      no-repeat center,
    linear-gradient(#4e4376, #2b5876);
  background-size: cover;
  border-bottom: 0.3em solid #727272;
}

@media (max-width: 880px) {
  header::before {
    width: 140vw;
    height: 100em;
    left: 50%;
    transform: translateX(-50%) skewY(-3.5deg);
  }
}
@media (max-width: 425px) {
  header::before {
    width: 325vw;
    height: 100em;
    left: 50%;
    transform: translateX(-50%) skewY(-3.5deg);
  }
  .SingleArticle {
    width: 190vw;
  }
}

@media (max-width: 375px) {
  header::before {
    width: 380vw;
    height: 100em;
    left: 50%;
    transform: translateX(-50%) skewY(-3.5deg);
  }
  .SingleArticle {
    width: 220vw;
  }
}

.header_home {
  font-family: "Poppins", sans-serif;
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  margin-bottom: 100px;
}

.mainheader {
  width: 100%;
  font-family: "Roboto", Arial, sans-serif;
  /* background-color: #282c34;
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin); */
  position: center;
  color: rgb(231, 231, 231);
  margin-top: 100px;
}

#subheader {
  margin-top: 70px;
}

.NC {
  height: 60px;
  width: 60px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.images {
  height: 150px;
  width: 150px;
  margin-bottom: 0px;
}

#date {
  margin-bottom: 80px;
}

#articleImage {
  height: 300px;
  width: 300px;
}

.comments {
  margin-bottom: 80px;
  padding: 0px;
}

p.comment_author {
  font-weight: bold;
  font-size: 1.5rem;
}

p.comment_body {
  font-size: 0.7rem;
}

p.comment_posted {
  font-size: 0.7rem;
}
